@import url(https://fonts.googleapis.com/css?family=Rubik);

@font-face {
    font-family: MorganChalk;
    src: url(ChangeTomorrowToday-a5no.ttf);
}

html{
    font-family: MorganChalk;
    font-size: 20px;
}
body{
    margin:0;
    background-color: rgb(29, 28, 28);
}
h1{
    color:white;
    text-align: center;
}
#mainDiv{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#gameDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}
.handsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#lineDiv{
    position: absolute;
    left: 50%;
    height: 500px;
    border-left: 6px tomato;
}
#playerRockHand{
    height: 164px;
    width: 207px;
}
#computerRockHand{
    height: 120px;
    width: 172px;
}
#computerPaperHand{
    height: 144px;
}
.handsDiv img{
    filter: brightness(70%);
    transition: 200ms;
}
.playerHands:hover{
    filter: brightness(100%);
    cursor: pointer;
}
.computerHands:hover{
    cursor:not-allowed;
}
#computerRockHandDiv{
    display: flex;
    justify-content: flex-end;
}
#blackBoardDiv{
    width: 600px;
    border: 10px solid rgb(175, 137, 87);
    border-radius: 10px;
    background-color: rgb(29, 28, 28);
}
