@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);

html{
    font-family: Bebas Neue;
    font-size: 25px;
}
body{
    margin:0;
    background:linear-gradient(135deg, rgb(0, 0, 0) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, rgb(0, 0, 0) 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
}
h1{
    color:rgba(255, 255, 255, 0.87);
    text-align: center;
}
h2{
    font-size:300px;
    color: rgb(92, 65, 143);
}
#mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#mainDiv, #gameDiv{
    height: 80vh;
}
#gameDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.handsDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#playerRockHand{
    height: 164px;
    width: 207px;
}
#computerRockHand{
    height: 120px;
    width: 172px;
}
#computerPaperHand{
    height: 144px;
}
.handsDiv img{
    filter: brightness(70%);
    transition: 200ms;
}
.playerHands:hover{
    filter: brightness(100%);
    cursor: pointer;
}
.computerHands:hover{
    cursor:not-allowed;
}
#computerRockHandDiv{
    display: flex;
    justify-content: flex-end;
}
#score{
    display: flex;
    flex-direction:column;
    justify-content:center;
}
#scoreDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}
@media screen and (max-width: 800px){

    h1{
        font-size:30px
    }

    #playerRockHand{
        height: 130px;
        width: 160px;
    }
    #playerPaperHand{
        height: 160px;
        width: 162px;
    }
    #playerScissorsHand{
        height: 72px;
        width: 170px;
    }

    #computerRockHand{
        height: 110px;
        width: 150px;
    }
    #computerPaperHand{
        height: 130px;
        width: 190px;
    }
    #computerScissorsHand{
        height: 90px;
        width: 190px;
    }
}